# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# drupalCore
/core
/vendor
/sites/default/files/php/twig

# production


#setting 
/sites/default/settings.local.php
